<li>
  <!-- Display mode -->
  @if (!isEditing()) {
    <div
      appShowHintOnHover
      class="todo-item"
      [hintText]="task().description"
      [class.selected]="task().isSelected"
      (click)="selectItem.emit()"
      (dblclick)="enterEditMode(); $event.stopPropagation()"
      role="presentation"
    >
      <p class="todo-item__id">{{ task().id }}</p>
      <p class="todo-item__text">{{ task().text }}</p>
      <app-button
        hintText="Click to remove this task"
        (clicked)="deleteItem.emit()"
        className="button button--delete"
      >remove</app-button>
    </div>
  }

  <!-- Edit mode -->
  @if (isEditing()) {
    <div class="todo-item todo-item--editing">
      <p class="todo-item__id">{{ task().id }}</p>
      <input
        [ngModel]="editText()"
        (ngModelChange)="editText.set($event)"
        (keyup.enter)="saveEdit()"
        (keyup.escape)="onCancelEdit()"
        class="todo-item__edit-input"
      />
      <app-button
        (clicked)="saveEdit()"
        className="button button--save"
      >save</app-button>
      <app-button
        (clicked)="onCancelEdit()"
        className="button button--cancel"
      >cancel</app-button>
    </div>
  }
</li>
