<form class="create-item-form" [formGroup]="form" (ngSubmit)="submit()">
  <input
    class="task-input"
    formControlName="name"
    type="text"
    [placeholder]="'createTask.namePlaceholder' | translate"
    [attr.aria-label]="'createTask.namePlaceholder' | translate"
  />

  <textarea
    class="task-input task-textarea"
    formControlName="description"
    [placeholder]="'createTask.descriptionPlaceholder' | translate"
    [attr.aria-label]="'createTask.descriptionPlaceholder' | translate"
  ></textarea>

  <app-button
    type="submit"
    [hintText]="'createTask.addHint' | translate"
    [isDisabled]="form.invalid"
    className="button button--add"
  >{{ 'createTask.addButton' | translate }}</app-button>
</form>
