<div class="todo-layout">
  <div class="todo-list-container">
    @if (isLoading()) {
    <app-spinner />
    } @else {
    <div class="filter-bar">
      <mat-button-toggle-group
        class="filter-toggle-group"
        [value]="activeFilter()"
        (change)="activeFilter.set($event.value)"
        hideSingleSelectionIndicator
      >
        <mat-button-toggle [value]="null">All</mat-button-toggle>
        <mat-button-toggle value="InProgress">In Progress</mat-button-toggle>
        <mat-button-toggle value="Completed">Completed</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <ul class="todo-list">
      @for (task of filteredTasks(); track task.id) {
      <app-todo-item
        [task]="task"
        [isEditing]="editingTaskId() === task.id"
        (deleteItem)="deleteTask(task)"
        (selectItem)="selectTask(task)"
        (startEdit)="startEditTask(task)"
        (editItem)="updateTask(task, $event)"
        (cancelEdit)="cancelEditTask()"
      />
      }
    </ul>

    <app-todo-create-item
      (createItem)="addTask($event.text, $event.description)"
    />
    }
  </div>

  <router-outlet />
</div>
