<h1>ToDo List</h1>

@if (isLoading) {
<div class="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
} @else {
<ul class="todo-list">
  @for (task of tasks; track task) {
  <app-todo-item [task]="task" (delete)="deleteTask(task)" />
  }
</ul>

<input
  matInput
  #taskInput
  type="text"
  (keyup.enter)="addTask(taskInput.value); taskInput.value=''; textChanged('')"
  (keyup)="textChanged(taskInput.value)"
/>

<app-button
  title="add"
  (clicked)="addTask(taskInput.value); taskInput.value=''; textChanged('')"
  [isDisabled]="isTextEmpty"
  className="button button--add"
/>
}
