<h1>ToDo List</h1>

<ul>
  @for (task of tasks; track task.id) {
    <li class="todo-item">
      <button class="button button--delete" (click)="deleteTask($index)">
        Delete
      </button>
      <span>{{ task.id }} - {{ task.text }}</span>
    </li>
  }
</ul>

<input matInput #taskInput type="text"
       (keyup.enter)="addTask(taskInput.value); taskInput.value=''; textChanged('')"
       (keyup)="textChanged(taskInput.value)" />

<button class="button button--add"
        [disabled]="isTextEmpty"
        (click)="addTask(taskInput.value); taskInput.value=''; textChanged('')">
  Add
</button>
